BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: false
PointerAlignment: Left
BreakBeforeBraces: WebKit
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment
BreakAdjacentStringLiterals: false
AlignAfterOpenBracket: Align
AlignOperands: AlignAfterOperator
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
SortIncludes: Never
FixNamespaceComments: false
